* {
    font-family: 'Poppins', sans-serif;
}

.form-container {
    background-color: white;
    border: 1px solid #1A1A1D;
    border-radius: 10px;
    box-shadow: 12px 12px 18px #1A1A1D;
    padding: 50px;
    max-width: 600px;
}

.form-label {
    color: #1A1A1D;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.pdf-format {
    color: #1A1A1D;
}

.question1 textarea {
    word-wrap: break-word;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: #1A1A1D;
    font-size: clamp(14px, 2vw, 18px);
    outline: none;
    resize: vertical;
    overflow: hidden;
    padding: 10px;
}

.question2 textarea {
    word-wrap: break-word;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: #1A1A1D;
    font-size: clamp(14px, 2vw, 18px);
    outline: none;
    resize: vertical;
    overflow: hidden;
    padding: 10px;
}

.question1 textarea:focus,
.question2 textarea:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    caret-color: #1A1A1D;
}


.form-control-lg {
    border: 2px solid #1A1A1D;
    border-radius: 5px;
}

.form-control-lg:focus {
    border-color: #1A1A1D;
    box-shadow: 0 0 5px#1A1A1D;
    outline: none;
}

#uploadCV {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-color: #1A1A1D;
    padding: 8px;
    width: 100%;
}

#uploadCV:hover {
    border-color: #505050;
    box-shadow: 0 0 5px #1A1A1D;
    outline: none;
}

.aformName {
    color: #1A1A1D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-btn {
    background-color: white;
    color: #505050;
    border: 2px solid #1A1A1D;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px #1A1A1D;
    transition: transform 0.2s, box-shadow 0.2s;
}

.submit-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px #1A1A1D;
}

.submit-btn:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px #1A1A1D;
}