
.text {
    max-width: 1300px;
    width: 100%;
    min-height: 700px;
    padding: 20px;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 8px 16px rgba(13, 122, 59, 0.2), 0 16px 32px rgba(13, 122, 59, 0.15);
    border: 1px solid #0D7A3B;
}

.border-top-custom {
   
    width: 100%;
    border-top: 3px solid #3E8A5E; 
}

.rounded-circle {
    width: 60px;
    height: 60px;
    margin-top: 1rem; 
    border-radius: 50%;
    overflow: hidden;
}

.rounded-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    margin-left: 5rem; 
    margin-top: 1rem; 
    font-family: 'Poppins', sans-serif;
}

.body {
    margin-left: 5rem; 
    margin-top: 1rem; 
    padding-bottom: 3rem; 
    font-family: 'Poppins', sans-serif;
}
