* {
    margin: 0;
    padding: 0;
}

/*For removing the default link style*/
a {
    text-decoration: none;
    color: inherit
}

a:focus,
a:active {
    outline: none
}

/*Sign up Form*/
#signUpForm {
    background-color: #3E8A5E;
    max-width: 700px;
    padding: 50px 40px;
    border-radius: 20px;
}

.signUpField {
    justify-content: center;
}

.signUpTitle p {
    text-align: center;
    font-family: Poppins;
    font-weight: bolder;
    font-size: clamp(20px, 2vw, 28px);
    color: #ffffff;
    margin-bottom: 50px;
}

#portfolioContainer {
    justify-content: center;
    justify-items: center;
}

.projectDetails {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.project-item {
    padding:20px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: clamp(14px, 2vw, 18px);
    color: #ffffff;
    justify-content: center;
    justify-items: center;
}

.project-item img {
    width: 200px;
    height: 200px;
    background-color: transparent;
    outline: none;
    border: none;
}

.project-item input {
    text-align: center;
    font-family: Poppins;
    font-weight: bolder;
    font-size: clamp(14px, 2vw, 18px);
    color: #ffffff;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    border-radius: 0px;
    outline: none;
    max-width: 200px;
}

.project-item input:focus{
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #ffffff;
}

.addProject {
    text-align: center;
}

.addProject button{
    background-color: transparent;
    border: none;
    outline: none;
}

.addProject button:hover{
    opacity: 0.6;
}

.skillDetail{
    text-align: start;
    margin: auto 50px auto 50px;
}


.skillDetail textarea {
    max-width: 500px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
    font-size: clamp(14px, 2vw, 18px);
    outline: none;
    resize: none;
    margin: auto;
    overflow: hidden;
}

.skillDetail textarea:focus {
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    outline: none;
    box-shadow: none;
    caret-color: #ffffff;
}

.form-label {
    margin: auto;
    font-family: Poppins;
    font-weight: 600;
    font-size: clamp(14px, 2vw, 18px);
    color: #ffffff;
}

.submit {
    text-align: center;
    padding-top: 40px;
}

.btnSignSkills {
    border-radius: 20px;
    background-color: #ffffff;
    max-width: 180px;
    border: none;
    padding: 10px 40px;
    box-shadow: 6px 4px 2px #2ECC71;
    font-family: Poppins;
    font-weight: bolder;
    font-size: clamp(14px, 2vw, 18px);
    color: #505050;
}

.required:after {
    content: " *";
    color: red;
}

.btnSignSkills:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px #2ecc71;
}

.btnSignSkills:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px #2ecc71;
}