body {
    background-color: #f9f9f9;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.filter-link {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.filter-link.active {
    background-color: #43B272;
    border-color: #43B272;
    color: white;
}

.filter-link:hover {
    background-color: #2ECC71;
    border-color: #2ECC71;
}

.notification-box {
    width: 80vw;
    height: 70vh;
    max-width: 1200px;
    max-height: 650px;
    background-color: #fff;
    margin: auto;
    overflow: auto;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    
}

@media (max-width: 768px) {
    .notification-box {
        width: 90vw;
        height: 60vh;
    }
}


.notification-header {
    padding: 20px;
    background-color: #ffff;
    border: 1px solid #3E8A5E;
    border-radius: 20px; 
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;
}

.notification-list {
    max-height: 1000px;
    overflow: auto;
    background-color: #3E8A5E;
    border-radius: 20px !important;
    font-family: 'Poppins', sans-serif;
}

.notification-item {
    background-color: #3E8A5E !important;
    font-family: 'Poppins', sans-serif;
}

.notification-box::-webkit-scrollbar {
    display: none;
}

.notification-list::-webkit-scrollbar {
    display: none;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}